@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
  background: #e3e6f3;
}
#forget {
  background-color: #e3e6f3;
  background-size: cover;
  background-position: top 25% right 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 0px;
  padding-right: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#forget figure {
  width: 50%;
  overflow: hidden;
  border-radius: 50%;
  float: right;
}

h2 {
  font-size: 46px;
  line-height: 64px;
}
#forget h2 {
  padding-bottom: 15px;
}

.forget1 {
  height: 3.125rem;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;

}

.forget1 input {
  background: none;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 80%;
  outline: none;
}
.btn1 {
  background-color: #088178;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: white;

  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
.btn1:hover {
  color: black;
  background: #088178;
}