<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'signin.css' %}" />
    <script src="https://kit.fontawesome.com/cf61477735.js" crossorigin="anonymous"></script>
  </head>
  <body>

    <div class = "container">

      <h1>SignIn</h1>
      <form method="POST" action="">
        {% csrf_token %} {% for fm in form %}
        <div class="box">
          {{ fm.label_tag }} {{ fm }} <small>{{fm.errors|striptags}}</small
          ><br />
        </div>
        {% endfor %}
        <small class="down"><a href="{% url 'password_reset' %}">Forget Password </a></small
        ><br />
        <input class="btn" type="submit"  value="Sign In" />
        <br />
        <div>
          <small class="up">New to Easefarm ? <a href="{% url 'signup' %}">Create an Account</a></small>
        </div>
        {% if form.non_field_errors %} {% for error in form.non_field_errors %}
        <p class="warning">{{error}}</p>
        {% endfor %} {% endif %}
      </form>
    </div>
  </body>
</html>