<!DOCTYPE html>
<html>
<head>
<title>Reset Password</title>
{% load static %}
<link rel="stylesheet" href="{% static 'ResetPassword1.css' %}"/>
</head>
<body>
  <section id="forget">

  <div >
      <h2>Reset Password</h2>

   <form action="" method="POST" >
     {% csrf_token %}
       {% for fm in form %}
       <div class = "forget1">
           {{ fm.label_tag }} {{ fm }} <small >{{fm.errors|striptags}}</small>
       </div>
       {% endfor %}
       <input class = "btn1" type="submit"  value="Submit">
       <br>
       {% if form.non_field_errors %}
       {% for error in form.non_field_errors %}
       <p >{{error}}</p>
       {% endfor %}
       {% endif %}
      </form>
  </div>
  <figure>
    <img src="https://img.freepik.com/free-vector/forgot-password-concept-illustration_114360-1123.jpg?w=2000" alt = "forgeti" width = "100%" height = "580px">
  </figure>

</section>
</body>
</html>